@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@layer base {
  html,
  body {
    @apply transition-colors duration-300 ease-in-out;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

:root {
  background-color: #09090b; /* Matches your dark theme-color */
}

body {
  background-color: #09090b;
  /* Use this to prevent content from hiding under the status bar */
  padding-top: env(safe-area-inset-top);
}

