@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@layer base {
  html,
  body {
    @apply transition-colors duration-300 ease-in-out;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
    background-color: #121212; /* Or your specific dark mode hex */
}

